// Mixins Here

.custom-btn( @bgColor: #FFBF27, @fontColor: black ) {
    display: block;
    margin: 0 10px 20px;
    cursor: pointer;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    width: 100px;
    background-color: @bgColor;
    color: @fontColor;
      
    &:hover {
      background-color: @fontColor;
      color: @bgColor;
    }
    
   
  }
  






.header2{
    padding: 15px;
  }

  .img{
      
      border-radius: 100%;

      
  }