// Mixins Here
.custom-btn(@backgroundcolor:blue,@font:red){
    margin-top:0px;
    margin-right:10px;
    margin-bottom:20px;
    cursor: pointer;
    background-color:@backgroundcolor;
    height:45px;
    border-radius: 30px;
    width:150px;
    font-size:2rem;
    color:@font; 

    &:hover{
        background-color: @ebony-clay;
        color:pink;
      }
}

.header2{
    padding: 15px;
  }

  .container{
    width: 100%;
  }