// Navigation code here
.headertop{
    border-bottom:1px solid black;
    display:flex;
    flex-direction:column;
    align-items:center;
   justify-content:center;
  
    background-color:@wild-sand;
    nav{
        justify-content: space-between;
        margin-top:20px;
        @media @phone{
            justify-content:center;
            align-items: center;
            
        }

    a{
        margin-left:20px;
        font-size:20px;
        color:@river-bend;
        @media @phone{
            
            justify-content:space-evenly;
            margin-left:5px;
        }
    
    }


   
    }
   
}

.headertop{
    h1{
        font-size:2rem;

    }
}

